.header
  グループを作成しました
.contents
  .contents__left 
    .contents__left1
      .contents__left1--seo seo
      =link_to "", class: "contents__left1 contents__left--icon" do
        = fa_icon 'edit', class: "contents__left--btn " 
      =link_to "", class: "contents__left1 contents__left--icon" do
        = fa_icon 'cog', class: "contents__left--btn contents__left--btn2"   

    .contents__left--bottom 
      = render partial: 'leftgroup'

  .contents__main
    .contents__main1 
      .contents__main1--list sample <br><span class="contents__main1__main2">member seo neko
      =link_to "Edit" ,"", class: "contents__main1__main3"
       
    
    .contents__bottom
      = render partial: 'message'
      
      
    .contents__input
      .contents__input2
        %input.contents__input--text{ type: "text", placeholder: " type a message"}
        %label.contents__input--label{for:"upload-icon"}
        = fa_icon'picture-o', class: "contents__input--label2" 
        %input{type:"file",style:"display:none;",id:"upload-icon"} 
        %input.contents__input--sent{ type: "submit", value:"Send"} 